{
  "openapi": "3.0.3",
  "info": { "title": "GitHub REST API (excerpt)", "version": "2022-11-28" },
  "servers": [{ "url": "https://api.github.com" }],
  "paths": {
    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "repos/get",
        "summary": "Get a repository",
        "description": "The parameters owner and repo replace :owner and :repo in the GitHub developer docs URLs.",
        "tags": ["repos"],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "operationId": "issues/list-for-repo",
        "summary": "List repository issues",
        "description": "List issues in a repository. Only open issues will be listed by default.",
        "tags": ["issues"],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "state", "in": "query", "required": false, "schema": { "type": "string", "enum": ["open", "closed", "all"] } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "operationId": "issues/create",
        "summary": "Create an issue",
        "description": "Any user with pull access to a repository can create an issue.",
        "tags": ["issues"],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "201": { "description": "Created" } }
      }
    }
  }
}
