{
  "openapi": "3.0.3",
  "info": { "title": "PokeAPI (excerpt)", "version": "2.0" },
  "servers": [{ "url": "https://pokeapi.co/api/v2" }],
  "paths": {
    "/pokemon/{id}": {
      "get": {
        "operationId": "getPokemonById",
        "summary": "Get a Pokemon",
        "description": "Pokemon are the creatures that inhabit the world of the Pokemon games. Fetch by name or numeric id.",
        "tags": ["pokemon"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/pokemon": {
      "get": {
        "operationId": "listPokemon",
        "summary": "List Pokemon",
        "description": "A paginated list of all Pokemon resources.",
        "tags": ["pokemon"],
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/ability/{id}": {
      "get": {
        "operationId": "getAbilityById",
        "summary": "Get an ability",
        "description": "Abilities provide passive effects for Pokemon in battle or in the overworld. Fetch by name or numeric id.",
        "tags": ["ability"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/type/{id}": {
      "get": {
        "operationId": "getTypeById",
        "summary": "Get a type",
        "description": "Types are properties for Pokemon and their moves. Fetch by name or numeric id.",
        "tags": ["type"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    }
  }
}
